:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --main-bg-color: #f1efef;
  --purple-dark: #620e2a;
  --main-bg-color-dark: #d3cdcd;
}

html {
  scroll-behavior: smooth !important;
  min-width: 320px;
}

body {
  background-color: transparent;
  margin: 0;
  font-family: var(--font-arimo);
  color: #322818;
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
}

h2 {
  font-family: var(--font-cinzel);
  font-size: 2rem;
  margin-bottom: 1.5em;
  font-weight: 300;
}

h3 {
  font-size: 1.2em;
  font-family: var(--font-cinzel);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--purple-dark);
  font-weight: bolder;
}

@media only screen and (max-width: 1240px) {
  h1 {
    font-size: 2rem;
  }
}

.sectionsShared {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px 20px;
}
