:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --main-bg-color: #F1EFEF;
  --purple-dark: #490b20;
  --main-bg-color-dark: #d3cdcd;
}

html{
  scroll-behavior: smooth !important;
  min-width: 320px;
}

body { 
  background-color: transparent;
  margin: 0;
  font-family: var(--font-arimo);
}

h1{
  font-size: 3rem;
}

h2{
  font-family: var(--font-cinzel);
}

h3{
  font-family: var(--font-cinzel);
}

a{
  text-decoration: none;   
  color: inherit;
}

@media only screen and (max-width: 1240px) {
  h1 {font-size: 2rem }
}

.sectionsShared{
  max-width: 1200px;
  margin: 50px auto;
  padding: 50px 20px;
}