.main {
  display: block;
  align-items: center;
  
  background-color: var(--main-bg-color);
}

.mainContainer{
  min-height: 200vh;
}

.graphicSection{
  background-color: rgba(232, 225, 215, 0.5);
}