.main {
  display: block;
  align-items: center;
  
  background-color: var(--main-bg-color);
}

.mainContainer{
  max-width: 1200px;
  min-height: 200vh;
  margin: 80px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}