.myWorkItem {
  min-height: 200px;
  padding: 15px;
  box-shadow: 2px 2px 15px gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: var(--main-bg-color);
  height: 90%;
}

.myWorkItem:hover {
  filter: brightness(1.05);
}

.titleSection {
  flex: 1;
}

.title {
  text-align: center;
  text-wrap: balance;
  margin: 0;
  padding: 1em 0 0 0;
}

.myWorkItemImg {
  width: 90%;
  max-height: 90%;
  margin: 5%;
  aspect-ratio: 1;
  border-radius: 5px;
}
