#local_backend: true
backend:
  #name: git-gateway
  name: github
  repo: PMerka/lenka-merkova-portfolio
  branch: master # Branch to update (optional; defaults to master)
media_folder: public/upload
public_folder: upload
collections:
  - name: "main"
    editor:
      preview: false
    label: "Hlavní stránka"
    files:
      #-----Úvodní sekce-----
      - label: "Úvodní sekce"

        name: "home"
        file: "content/heroSection.json"
        fields:
          - {
              label: "Sekce nad tlačítkem",
              name: "topSection",
              widget: "markdown",
            }
          - { label: "Text tlačítka", name: "buttonText", widget: "string" }
          - {
              label: "Sekce pod tlačítkem",
              name: "belowSection",
              widget: "markdown",
            }
      #-----Seznam služeb-----
      - label: "Seznam služeb"
        name: "services"
        file: "content/services.md"
        fields:
          - { label: "Nadpis", name: "title", widget: "string" }
          - {
              label: "Seznam služeb",
              name: "services",
              allow_add: true,
              collapsed: false,
              widget: "list",
              fields:
                [
                  { label: Nadpis, name: title, widget: "string" },
                  {
                    label: Krátký text,
                    name: shortText,
                    widget: "string",
                    required: false,
                  },
                  {
                    label: Hlavní text,
                    name: mainText,
                    widget: "text",
                    required: false,
                  },
                ],
            }
      #-----Ceník-----
      - label: "Ceník"
        name: "priceList"
        file: "content/priceList.json"

        fields:
          - { label: "Nadpis", name: "title", widget: "string" }
          - {
              label: "Cena",
              name: "priceBox",
              widget: "object",
              fields:
                [
                  { label: Nadpis cany, name: priceLabel, widget: "string" },
                  { label: Cena, name: price, widget: "text" },
                ],
            }
          - {
              label: "Odstavce",
              name: "paragraphs",
              allow_add: true,
              collapsed: false,
              widget: "list",
              fields:
                [
                  { label: Nadpis, name: title, widget: "string" },
                  { label: Hlavní text, name: text, widget: "text" },
                ],
            }

      #-----O mně-----
      - label: "O mně"
        name: "aboutMe"
        file: "content/aboutMe.md"
        fields:
          - { label: "Nadpis", name: "title", widget: "string" }
          - {
              label: 'Hlavní text (používej "heading 3" pro nadpisy)',
              name: "body",
              widget: "markdown",
            }

      #-----References-----
      - label: "Reference"
        name: "references"
        file: "content/references.md"
        fields:
          - { label: "Nadpis", name: "title", widget: "string" }
          - {
              label: "Reference",
              name: "referenceItems",
              allow_add: true,
              collapsed: false,
              widget: "list",
              fields:
                [
                  { label: Horní text, name: topText, widget: "string" },
                  { label: Hlavní text, name: mainText, widget: "markdown" },
                  { label: Autor, name: author, widget: "string" },
                  { label: Autor popis, name: authorInfo, widget: "string" },
                ],
            }
      #-----MyWork-----
      - label: "My work"
        name: "myWork"
        file: "content/myWork.md"
        fields:
          - { label: "Nadpis", name: "title", widget: "string" }
          - {
              label: "Ukázky práce",
              name: "myWorkItem",
              allow_add: true,
              collapsed: false,
              widget: "list",
              fields:
                [
                  { label: Nadpis, name: topText, widget: "string" },
                  { label: Obrázek, name: picture, widget: "image" },
                  { label: Odkaz, name: link, widget: "string" },
                ],
            }
      #-----Contact-----
      - label: "Kontakt"
        name: "contact"
        file: "content/contact.md"
        fields:
          - { label: "Nadpis", name: "title", widget: "string" }
          - {
              label: 'Hlavní text (používej "heading 3" pro nadpisy)',
              name: "body",
              widget: "markdown",
            }
      #-----Footer-----
      - label: "Zápatí"
        name: "footer"
        file: "content/footer.json"
        fields:
          - { label: "Text vlevo", name: "leftText", widget: "markdown" }
          - {
              label: "1. Text vpravo",
              name: "RightText1st",
              widget: "markdown",
            }
          - {
              label: "2. Text vpravo",
              name: "RightText2nd",
              widget: "markdown",
            }
