.priceList{
    margin-top: 100px;
    scroll-margin-top: 100px;
}

.pricesExample{
    margin: 0 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.priceListContent{
    column-count: 1;
    column-gap: 0px;
}

@media only screen and (min-width: 800px) {
    .priceListContent{
        column-count: 2;
        column-gap: 50px;
    }
}

.article{
    padding: 1em 0 0;
}

.article p{
    margin: 0;
}