.priceList{
    margin-top: 100px;
    scroll-margin-top: 100px;
}

.price{
    background-color: var(--purple-dark);
    color: var(--main-bg-color);
    padding: 50px;
    height: fit-content;
    text-align: center;
    border-radius: var(--border-radius);
    font-size: 2em;
    align-items: center;
}

.pricesExample{
    margin: 0 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.priceListContent{
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {
    .priceListContent{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

.article{
    padding:  0 0 1em;
}

.article p{
    margin: 0;
}