.contactMe{
    scroll-margin-top: 100px;
}

.content{
    display: flex;
    gap: 20px
}

.imgStyle{
    padding: 30px;
    max-width: 200px;
}

.leftColumn{
    flex: 2;
}

.rightColumn{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.email{
    font-size: 1.4em;
    font-weight: 600;
    color: var(--purple-dark);
    padding: 20px 50px;
    display: block;
}
@media only screen and (max-width: 800px) {
    .content {
        flex-direction: column;
    }

    .email{
        padding: 20px 0px 20px 30px;
        font-size: 1em;
    }
}