.contactMe{
    scroll-margin-top: 100px;
}

.content{
    display: flex;
    gap: 20px
}

.leftColumn{
    flex: 2;
}

.email{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--purple-dark);
    padding: 20px 50px;
    display: block;
}

.copyIcon{
    margin-left: 20px;
}

.copyIcon:hover{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.rightColumn{
    flex: 1;
}